:root {
    --base: #00022e;
    --text-light: #fff;
    --blue: #3490dc;
    --indigo: #6574cd;
    --purple: #9561e2;
    --pink: #f66d9b;
    --red: #e3342f;
    --orange: #f6993f;
    --yellow: #ffed4a;
    --green: #38c172;
    --teal: #4dc0b5;
    --cyan: #6cb2eb;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #3490dc;
    --off-white: #e6e6e6;
    --secondary: #6c757d;
    --success: #38c172;
    --info: #6cb2eb;
    --warning: #ffed4a;
    --danger: #e3342f;
    --light: #f8f9fa;
    --dark: #343a40;

    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
    font-size: 1.6rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.btn {
    padding: 0.9em 1.35em;
}

ul.horizontal > li {
    display: inline-block;
}